<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.lab1024.sa.lottery.numberpool.dao.LotteryNumberPoolDao">

    <resultMap id="LotteryNumberPoolVO" type="net.lab1024.sa.lottery.numberpool.domain.vo.LotteryNumberPoolVO">
            <result column="id" property="id" />
            <result column="lottery_code" property="lotteryCode" />
            <result column="ticket_number" property="ticketNumber" />
            <result column="sequence_no" property="sequenceNo" />
    </resultMap>

    <sql id="base_columns">
                id, 
                lottery_code, 
                ticket_number, 
                sequence_no
    </sql>

    <sql id="query_conditions">
        <where>
                        <if test="queryForm.lotteryCode != null">
                            AND lottery_code = #{queryForm.lotteryCode}
                        </if>
                        <if test="queryForm.ticketNumber != null">
                            AND ticket_number = #{queryForm.ticketNumber}
                        </if>
                        <if test="queryForm.sequenceNo != null">
                            AND sequence_no = #{queryForm.sequenceNo}
                        </if>
        </where>
    </sql>

    <select id="queryPage" resultMap="LotteryNumberPoolVO">
        SELECT
        <include refid="base_columns"/>
        FROM t_lottery_number_pool
        <include refid="query_conditions"/>
    </select>

    <select id="queryList" resultMap="LotteryNumberPoolVO">
        SELECT
        <include refid="base_columns"/>
        FROM t_lottery_number_pool
        <include refid="query_conditions"/>
    </select>

                <delete id="batchDelete">
                    delete from t_lottery_number_pool
                    where id in
                    <foreach collection="idList" open="(" close=")" separator="," item="item">
                        #{item}
                    </foreach>
                </delete>
                <delete id="deleteById">
                    delete from t_lottery_number_pool
                        where id = #{id}
                </delete>

</mapper>